<div class="ad-slot ad-sidebar">
  <span class="ad-label">広告</span>
  <div>
    <a href='https://mttag.com/s/IwnrBJS4f5E' rel='nofollow' target='_blank'><img src='https://mttag.com/banner/IwnrBJS4f5E' alt='' style='max-width:100%;height:auto;' border='0' /></a>
  </div>
  <div style="margin-top:12px;">
    <a href="https://px.a8.net/svt/ejp?a8mat=4AZE01+1B19KI+2PEO+C510X" rel="nofollow" target="_blank"><img border="0" width="600" height="500" alt="" src="https://www20.a8.net/svt/bgt?aid=260311969079&wid=001&eno=01&mid=s00000012624002039000&mc=1" style="max-width:100%;height:auto;"></a><img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=4AZE01+1B19KI+2PEO+C510X" alt="">
  </div>
  <div style="margin-top:12px;">
    <a href='https://mttag.com/s/txCaj_1DrSI' rel='nofollow' target='_blank'><img src='https://mttag.com/banner/txCaj_1DrSI' alt='クイック現金サービス' style='max-width:100%;height:auto;' border='0' /></a>
  </div>
  <div style="margin-top:12px;">
    <a href='https://mttag.com/s/i946xt1euvg' rel='nofollow' target='_blank' class="fs-banner-link">
      <span class="fs-banner">顔写真1枚でAI動画生成<br><small>FACESWITCH 無料お試し</small></span>
    </a><img src='https://mttag.com/banner/i946xt1euvg' width='1' height='1' border='0' style='display:none;' />
  </div>
  <div class="sidebar-random-ad" style="margin-top:12px;display:none;" id="sidebarRandomAd">
    <a href="https://px.a8.net/svt/ejp?a8mat=4AZE01+4P34KY+3NEK+C1DUP" rel="nofollow" target="_blank">
      <img border="0" width="160" height="600" alt="" src="https://www28.a8.net/svt/bgt?aid=260311969284&wid=001&eno=01&mid=s00000017030002022000&mc=1" style="max-width:100%;height:auto;">
    </a>
    <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=4AZE01+4P34KY+3NEK+C1DUP" alt="" style="display:none;">
  </div>
</div>
<script>
(function(){
  if(Math.random() > 0.5){
    var el = document.getElementById('sidebarRandomAd');
    if(el) el.style.display = 'block';
  }
})();
</script>
