<div class="ad-slot ad-sidebar">
  <span class="ad-label">広告</span>
  <a href='https://quick-s.jp/?afid=ma7pyy&merchant_name=Quicks&token=ff0RZDk&visitor_id=69aecab92c6c7f551b306fcb' rel='nofollow' target='_blank' class="sidebar-text-ad">
    <span class="sidebar-text-ad-label">PICK UP</span>
    <span class="sidebar-text-ad-title">QuickS - 今すぐチェック</span>
  </a>
  <div style="margin-top:12px;">
    <a href='https://mttag.com/s/IwnrBJS4f5E' rel='nofollow' target='_blank'><img src='https://mttag.com/banner/IwnrBJS4f5E' alt='' style='max-width:100%;height:auto;' border='0' /></a>
  </div>
</div>
